<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>회원가입 페이지</title>
</head>
<body>

    Join Page
    <hr>
    <form action="/joinProc" method="post" name="joinForm">
        <input id="username" type="text" name="username" placeholder="name"> <br/>
        <input id="useremail" type="text" name="useremail" placeholder="email"> <br/>
        <input id="userpassword" type="password" name="userpassword" placeholder="password"> <br/>
        <input type="submit" value="Join">
    </form>

</body>
</html>