<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>로그인 페이지</title>
</head>
<body>

    login Page
    <hr>
    <form action="/loginProc" method="post" name="loginForm">
        <input id="useremail" type="text" name="useremail" placeholder="email">  <br/>
        <input id="userpassword" type="password" name="userpassword" placeholder="password">  <br/>
        <input type="submit" value="login">
    </form>
</body>
</html>