<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>일반회원 페이지</title>
</head>
<body>
    User Page
    <hr/>
    일반 회원만 접근 가능
    <!-- SpringSecurity 에서 제공하는 로그아웃 URL ("/logout" 사용) -->
    <form action="/logout" method="post" >
        <button type="submit">로그아웃</button>
    </form>
</body>
</html>